/* .home-img {
    width: 50%;
    height: 50px;
    overflow: hidden;
}

.profile img {
    max-width: 100%;
    height: auto;
    display: block;
} */


/* #poe-pic {
    height: 170px;
} */

img.w-100.img-thumbnail {
    height: 170.67px;
}